### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
/src/assets/*
.vscode/settings.json
node_modules
bower_components

*.sublime*

psd
thumb
sketch

public/88x31/*
public/archive/*
public/Private/*
public/rss/*
public/favicon.ico
public/screenshot.png
public/.gitignore
build/*
public/shrines/*.png
public/shrines/*.jpg
public/shrines/*/assets/*.png
public/shrines/*/assets/*.jpg
public/screenshotEmpty.png
public/shrines/*
